faster-whisper
ollama
langchain
dateparser
sounddevice
pydub
transformers>=4.48.0
tokenizers>=0.22.0
torch==2.6.0
torchaudio==2.6.0
python-dotenv
streamlit
langchain-community
langchain-ollama
langchain-groq
scipy
pymongo>=4.6
certifi
onnxruntime>=1.17.0
soundfile